.scanImg img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-top: 20px;
}

.jumbotron {
	padding: 20px;
}

.copyText {
	text-align: center;
}

.warningTitle {
	color: #E74C3C;
}